* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: consolas;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: white;
}

.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
  flex-wrap: wrap;
}

.container .box {
  position: relative;
  width: 320px;
  height: 400px;
  color: white;
  background: #111;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 40px;
  transition: 0.5s;
}

.container .box:hover {
  transform: translateY(-15px);
}

.container .box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, #ffbc00, #ff0058);
}

.container .box::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, #ffbc00, #ff0058);
  filter: blur(10px);
}

.container .box:nth-child(2)::before,
.container .box:nth-child(2)::after {
  background: linear-gradient(45deg, #03a9f4, #ff0058);
}

.container .box:nth-child(3)::before,
.container .box:nth-child(3)::after {
  background: linear-gradient(45deg, #4dff03, #00d0ff);
}

.container .box span {
  position: absolute;
  top: 6px;
  left: 6px;
  right: 6px;
  bottom: 6px;
  background: rgba(0, 0, 0, 0.6);
  z-index: 2;
}

.container .box span::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: linear-gradient(
    90deg,
    rgba(104, 104, 104, 0.3),
    rgba(0, 0, 0, 0.1)
  );
}

.container .box span::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background: linear-gradient(
    -90deg,
    rgba(104, 104, 104, 0.5),
    rgba(0, 0, 0, 0.1)
  );
}

.container .box .content {
  position: relative;
  z-index: 3;
  padding: 20px 40px;
}

.container .box .content h2 {
  font-size: 2em;
  color: white;
  margin-bottom: 10px;
}

.container .box .content p {
  font-size: 1.1em;
  color: white;
  margin-bottom: 20px;
  line-height: 1.4em;
}

.container .box .content a {
  display: inline-block;
  font-size: 1.1em;
  color: #111;
  background: white;
  padding: 10px;
  text-decoration: none;
  font-weight: 700;
  transition: 500ms;
}

.container .box .content a:hover {
  background: rgb(160, 159, 159);
}
